DB_USER=postgres
DB_PASS=postgres
DB_NAME=esporte_da_sorte
DB_HOST=localhost
DB_PORT=5434
BETSAPI_TOKEN=seu_token_aqui
PYTHON_API_URL=http://localhost:8000
PORT=3001
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3001