venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.gitignore
.env
data/*
!data/statsbomb/
data/statsbomb/*
!data/statsbomb/data/
data/statsbomb/data/*
!data/statsbomb/data/competitions.json
!data/statsbomb/data/matches/
data/statsbomb/data/matches/*
!data/statsbomb/data/matches/53/
data/statsbomb/data/matches/53/*
!data/statsbomb/data/matches/53/315.json
!data/statsbomb/data/events/
data/statsbomb/data/events/*
!data/statsbomb/data/events/4020846.json
!data/statsbomb/data/events/4020077.json
!data/statsbomb/data/events/4020005.json
!data/statsbomb/data/lineups/
data/statsbomb/data/lineups/*
!data/statsbomb/data/lineups/4020846.json
!data/statsbomb/data/lineups/4020077.json
!data/statsbomb/data/lineups/4020005.json
